:root {
  --color-primary: #4ba647;
  --color-primary-dark: #3d9139;
  --color-primary-light: #eef7eb;

  --color-text: #252525;
  --color-text-light: #777777;
  --color-border: #e2e8df;

  --color-background: #f7faf5;
  --color-white: #ffffff;
  --color-danger: #df4646;

  --header-height: 70px;

  --radius-small: 8px;
  --radius-medium: 14px;
  --radius-large: 22px;

  --shadow-card: 0 12px 35px rgb(34 73 31 / 8%);
}